section.register-blocks{
    margin-top: 5rem;
    margin-bottom: 5rem;

    .block.block--register{
        padding: 2rem 4rem;
        margin-bottom: 2rem;
        background: white;
        color: $text-color-dark;

        h2{
            font-size: 3rem;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
}
